.click 
{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 110;

}

#boutton 
{
    
    font-size:4em;
    font-family: monospace;
    padding: 10px;
    border: none;
    background-color: burlywood;
    color : black;
    border-radius: 5px;
    cursor:pointer;
    outline: none;
    margin-left : auto;
    margin-right :auto;

    
}

#boutton:hover {

     transform: scale(1.05);
     

}

#boutton:active {
    transform: scale(0.98);
}





body 
{
    background-image: url("/assets/fond.png");
    margin:0;
    padding:0;
    
    -webkit-background-size: cover; /*pour anciens Chrome et Safari */
    background-size: cover;  /*version standardisée */
    background-repeat: no-repeat;
}

#titre
{   margin-top: -90px;
    align-items: center;
    display: flex;
    justify-content: center;
    color : burlywood;
    font-size : 150%;
}



#valid_pseudo 
{
    
    font-size:1em;
    font-family: monospace;
    padding: 10px;
    border: none;
    background-color: rgb(222, 184, 135);
    color : black;
    border-radius: 5px;
    cursor:pointer;
    outline: none;
}

#valid_pseudo:hover {

     transform: scale(1.08);
     

}

#valid_pseudo:active {
    
    transform: scale(0.98);
}


#pseudo{
    padding:10px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:50;
    box-shadow:1px 1px 2px #C0C0C0 inset;

}



#messagerie 
{   
    width: 580px;
    margin-top: -750px;
    margin-right: 85px;
    float :right;
    font-size:2em;
    font-family: monospace;
    padding: 2px;
    border: none;
    background-color: burlywood;
    color : rgb(0, 0, 0);
    opacity: 0.9;
    border-radius: 3px;
    cursor:pointer;
    outline: none;
}

#formulaire_chat{
margin-top:-1.5em;
}

#intern-chat{
    margin-left:23%;
    margin-top: 0em;
}
#exit:hover {

     transform: scale(1.05);
     

}

#chronodiv{
    
    margin-top: -785px;
    margin-right: 685px;
    float :right;
    width: 8em;
    border: none;
    background-color: burlywood;
    color : rgb(0, 0, 0);
    opacity: 0.9;
    border-radius: 3px;
    font-size: 2em;

}
#chrono2div{
    
    margin-top: -645px;
    margin-right: 685px;
    float :right;
    width: 8em;
    border: none;
    background-color: burlywood;
    color : rgb(0, 0, 0);
    opacity: 0.9;
    border-radius: 3px;
    font-size: 2em;

}
#gagnant{
    margin-top: 0.5em;
    color: burlywood;
    font-size: 3em;

}


#reinitialiser{
    float:right;
    margin-right:340px;
    margin-left: 0;
    font-family: monospace;
    padding: 10px;
    border: none;
    background-color: rgb(255, 0, 0);
    color : white;
    font-size: 20px;
    border-radius: 5px;
    cursor:pointer;
    outline: none;
    margin-top: 10px;
}
#reinitialiser:active {

    transform: scale(1.08);
    

}

#reinitialiser:active {
   
   transform: scale(0.98);
}

#exit:active {
    transform: scale(0.98);
}

#eem {
    float:left;
    margin-left: 200px;
    color: rgb(255, 0, 0);
    font-size:70px;
}

#e {
    float:left;
    margin-left: 260px;
    color: rgb(255, 0, 0);
    font-size:70px;
}
#gagnant{
    float:left;
    margin-left: 30px;
    color: rgb(255, 0, 0);
    font-size:60px;
}

#info{
    margin-right:80px;
    margin-top:-410px;
    float:right;
    font-family: monospace;
    padding: 2px;
    border: none;
    color : rgb(0, 0, 0);
    opacity: 0.9;
    border-radius: 3px;
    cursor:pointer;
    outline: none;
    height: 400px;
    width: 855px;
    
}
#intern-info{
    margin-left:80px;
    font-family: monospace;
    padding: 2px;
    color : rgb(255, 255, 255);
    font-size: 50px;

}
#ps {

    margin-left: auto;
    margin-right: auto;
    width: 18em;



}
#divChrono{
    margin-top: -855px;
    margin-right: 685px;
    float :right;
    width: 8em;
    border: none;
    background-color: burlywood;
    color : rgb(0, 0, 0);
    opacity: 0.9;
    border-radius: 3px;
    font-size: 2em;
}
#formChrono{
    margin-top: -760px;
    margin-right: 700px;
    float :right;
    

}

