table {
	border-collapse: collapse;
}

td {
	border: solid 1px black;				
	width: 5.625em;
	height: 5.625em;
	text-align: center;
}

.blanc{
    background-color: white;
}
.noir{
    background-color: black;
}



#global{
    overflow:100%;

}

#gauche{

    float:left;
    width:60%;
    margin-left:30px;
}

#droite{

    overflow:40%;
}


