table.chess_table {
 width:45em;
 height: 45em;
 margin-left: 15em;
 margin-top: -1.5em;
 padding:0;
 border-collapse: collapse;
 border-spacing: 0;
 box-sizing: border-box;
}

table.chess_table tr td {
 margin-right:0;
 padding:0;
 font-size: 1em;
 font-family: serif;
 text-align: center;
}

table.chess_table tr:nth-child(odd) td:nth-child(odd),
table.chess_table tr:nth-child(even) td:nth-child(even){
 background-color: rgb(224, 204, 172); 
} /* case couleur*/
table.chess_table tr:nth-child(odd) td:nth-child(even),
table.chess_table tr:nth-child(even) td:nth-child(odd){
 background-color: rgb(126, 100, 66); /* case couleur*/
}
table.chess_table tr td.WP { /* blancs */
 color: rgb(0, 0, 0); 
}
table.chess_table tr td.BP { /* noirs */
 color: rgb(255, 255, 255); 
}
table.chess_table tr th {
 color: rgb(255, 255, 255); 
 font-size:1em;
}

